@charset "utf-8";
/* Incomms WS PCW 130304 / KHS 130723, 130927, 131015 */

/* 공통 */
.cs_exchangerate{position:relative;padding-bottom:16px;font-size:14px;line-height:1.25em;word-wrap:normal;word-break:normal;*zoom:1;-webkit-text-stroke-width:0;text-shadow:none;}
.cs_exchangerate .excr_cal{margin-bottom:10px;padding:10px 10px 5px}
.cs_exchangerate .cont_area{background:#fbfcfc}
.cs_exchangerate h2{position:relative;margin-bottom:4px;padding:15px 10px .1em;border-bottom:none;font-size:18px;font-weight:normal;}
.cs_exchangerate .blind{overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;line-height:0;text-indent:-10000px}
.cs_exchangerate .lk_more{padding:10px 10px 12px;border-top:1px solid #f1f1f1;background-color:#fff}
.cs_exchangerate .lk_more a{float:right;padding-right:12px;background:url(https://ssl.pstatic.net/sstatic/keypage/lifesrch/exchange/im/im_list.png) no-repeat 100% -62px;background-size:16px 125px;font-size:14px;color:#005fc1}

/* 국가선택 */
.cs_exchangerate .excr_box{overflow:hidden;position:relative;height:54px;margin:0;border:1px solid #b2b7bd;border-color:#b8bec4 #b2b7bd #acb1b7;border-radius:3px;background:-webkit-gradient(linear,0 0,0 100%,from(#fff),to(#f6f6f6))}
.cs_exchangerate .excr_box .slc_box{float:left;width:123px;height:100%}
.cs_exchangerate .excr_box .nt_slc{display:block;overflow:hidden;width:123px;height:30px;margin:0;padding:0 0 0 36px;border:0;background:transparent url(https://ssl.pstatic.net/sstatic/keypage/lifesrch/exchange/im/im_list.png) no-repeat 109px -31px;background-size:16px 125px;font-size:16px;line-height:38px;color:#000;white-space:nowrap;text-overflow:ellipsis;-webkit-appearance:none}
.cs_exchangerate .num{display:-webkit-box;position:relative;height:100%;padding-right:7px;border-left:1px solid #ccd0d4;background:#fff;-webkit-box-orient:vertical}
.cs_exchangerate .num input{display:block;width:100%;height:30px;padding-top:2px;border:0;font-size:19px;font-weight:bold;text-align:right}
.cs_exchangerate .num .recite{overflow:hidden;width:100%;height:26px;line-height:16px;text-align:right}
.cs_exchangerate .num .recite .nb_txt{display:block;overflow:hidden;width:100%;height:20px;font-size:14px;color:#656873;text-align:right;white-space:nowrap}
.cs_exchangerate .flag{display:block;overflow:hidden;position:absolute;top:10px;left:7px;width:25px;height:17px;background:url(https://ssl.pstatic.net/sstatic/keypage/lifesrch/exchange/im/bg_flag.png) no-repeat 0 0;background-size:145px 337px}
.cs_exchangerate .flag.krw{background-position:0 0}
.cs_exchangerate .flag.usd{background-position:0 -32px}
.cs_exchangerate .flag.jpy{background-position:0 -64px}
.cs_exchangerate .flag.cny{background-position:0 -96px}
.cs_exchangerate .flag.aud{background-position:0 -128px}
.cs_exchangerate .flag.cad{background-position:0 -192px}
.cs_exchangerate .flag.eur{background-position:0 -320px}
.cs_exchangerate .flag.nzd{background-position:-120px -256px}
.cs_exchangerate .nt_eng{display:block;padding-left:36px;font-size:15px;color:#656873}
.cs_exchangerate .excr_eq span{display:block;width:13px;height:11px;margin:5px auto;background:url(https://ssl.pstatic.net/sstatic/keypage/lifesrch/exchange/im/im_list.png) no-repeat 0 -114px;background-size:16px 125px;color:transparent}

/* 국가별 환율정보 */
.cs_exchangerate .excr_tb{border:1px solid #e1e4e4;border-width:1px 0}
.cs_exchangerate .tb_lst{width:100%;border:0;background-color:#fff}
.cs_exchangerate .tb_lst caption{overflow:hidden;width:1px;height:1px;margin-top:-1px;line-height:0;text-indent:-10000px}
.cs_exchangerate .tb_lst th{font-size:14px;font-weight:normal;line-height:31px;color:#7f828f}
.cs_exchangerate .tb_lst th:first-child{border-right:1px solid #eeefef}
.cs_exchangerate .tb_lst td{padding:0 5px 0 4px;border-top:1px solid #f1f1f1;font-size:16px;line-height:30px;color:#333;text-align:center}
.cs_exchangerate .tb_lst tbody th{border:1px solid #eeefef;border-width:1px 1px 0 0;font-size:15px;line-height:30px;text-align:left}
.cs_exchangerate .tb_lst tbody th a{display:block;padding-left:10px;color:#1662b7;vertical-align:middle}
.cs_exchangerate .tb_lst tbody th a em{display:inline-block;padding-left:2px;font-size:16px;color:#656873}
.cs_exchangerate .tb_lst .up td{color:#f43636}
.cs_exchangerate .tb_lst .dw td{color:#158de1}
.cs_exchangerate .tb_lst .ico{display:inline-block;overflow:hidden;width:10px;height:8px;margin-right:3px;background:url(https://ssl.pstatic.net/sstatic/keypage/lifesrch/exchange/im/im_list.png) no-repeat 0 -95px;background-size:16px 125px;line-height:100em;text-indent:-10000px;vertical-align:1px}
.cs_exchangerate .tb_lst .up .ico{background-position:0 0}
.cs_exchangerate .tb_lst .dw .ico{background-position:0 -23px}

/* 개별형 */
.cs_exchangerate .excr_nt{border-top:1px solid #e1e4e4;background-color:#fff}
.cs_exchangerate .nt_tit{text-align:center}
.cs_exchangerate h3{display:inline-block;position:relative;padding-top:13px;font-size:16px;font-weight:normal;color:#3d4c63}
.cs_exchangerate h3 .flag{float:left;position:relative;top:auto;left:auto;margin:1px 6px 0 0}
.cs_exchangerate h3 .nt_eng{display:inline-block;padding-left:0;font-size:17px;color:#939a9d}
.cs_exchangerate .index{margin-bottom:14px;margin-top:12px;font-size:28px;font-weight:bold;color:#555;text-align:center}
.cs_exchangerate .index.up{color:#f43636}
.cs_exchangerate .index.dw{color:#158de1}
.cs_exchangerate .index .n_chg,.cs_exchangerate .index .n_chg2{position:relative;top:-4px;font-size:15px}
.cs_exchangerate .index .n_chg{margin:0 9px 0 3px}
.cs_exchangerate .index .n_chg .ico{display:inline-block;overflow:hidden;width:10px;height:8px;margin-right:2px;background:url(https://ssl.pstatic.net/sstatic/keypage/lifesrch/exchange/im/im_list.png) no-repeat 0 -96px;background-size:16px 125px;text-indent:-10000px}
.cs_exchangerate .index.up .n_chg .ico{background-position:0 0}
.cs_exchangerate .index.dw .n_chg .ico{background-position:0 -23px}
.cs_exchangerate .index .n_chg2 .mk{display:inline-block;margin-right:2px}
.cs_exchangerate .chart{padding:0 10px 13px;text-align:center}
.cs_exchangerate .chart .graph{overflow:hidden;height:110px}
.cs_exchangerate .chart .btn{margin:16px 10px 0}
.cs_exchangerate .chart .btn ul{display:-webkit-box;line-height:31px;-webkit-box-orient:horizontal}
.cs_exchangerate .chart .btn ul li{width:33.3%;height:31px;border:1px solid #b1b7bc;border-color:#b8bec4 #b1b7bc #acb1b7;border-width:1px 0;background:-webkit-gradient(linear,0 0,0 100%,from(#fff),to(#f6f6f6));-webkit-box-flex:1}
.cs_exchangerate .chart .btn ul li:first-child{margin-left:0;border-left:1px solid #b1b7bc;border-radius:3px 0 0 3px}
.cs_exchangerate .chart .btn ul li:last-child{border-right:1px solid #b1b7bc;border-radius:0 3px 3px 0}
.cs_exchangerate .chart .btn ul li a{display:block;border-right:1px solid #dadee1;font-size:15px;color:#707a7e;-webkit-box-shadow:inset 1px 0 0 #fefefe}
.cs_exchangerate .chart .btn ul li:first-child a{-webkit-box-shadow:none}
.cs_exchangerate .chart .btn ul li:last-child a{margin-right:1px;border-right:0}
.cs_exchangerate .chart .btn ul li.on{margin-left:-1px;background:-webkit-gradient(linear,0 0,0 100%,from(#eef1f1),to(#f2f4f4))}
.cs_exchangerate .chart .btn ul li.on a{border:1px solid #b1b7bc;border-width:0 1px;color:#000;-webkit-box-shadow:inset 0 1px 0 #dde0e0}
.cs_exchangerate .chart .btn ul li.on a + li{-webkit-box-shadow:none}
.cs_exchangerate .chart .btn ul li:first-child.on{margin-left:0}
.cs_exchangerate .chart .btn ul li:first-child a{margin-left:1px;border-left:0}
.cs_exchangerate .chart .btn ul li:last-child a{border-right:0}
.cs_exchangerate .cs_finfo{overflow:hidden;margin-top:2px;border-bottom:1px solid #eeefef}
.cs_exchangerate .cs_finfo li{float:left;width:50%;margin-left:-1px;padding:.5em 0;border-top:1px solid #eeefef;border-left:1px solid #eeefef;font-size:.96em}
.cs_exchangerate .cs_finfo li:nth-child(2n+1){border-left:0}
.cs_exchangerate .cs_finfo li span{float:left;margin-left:10px;font-size:14px;color:#707a7e}
.cs_exchangerate .cs_finfo li strong{float:right;margin-right:10px;font-size:15px;color:#3d4c63}
.cs_exchangerate .cs_finfo li:nth-child(2n+2) span{margin-left:7px}
.cs_exchangerate .cs_finfo li:nth-child(2n+2) strong{margin-right:6px}

/* 안내문구 */
.cs_exchangerate .guide{overflow:hidden;padding:8px 5px 7px 10px;font-size:14px;line-height:20px;color:#939a9d}
.cs_exchangerate .src{float:right;margin-right:5px}
.cs_exchangerate .src img{position:relative;top:-3px}

/* 국가별 환율 */
.cs_exchangerate .other_excr{overflow:hidden;padding:0 10px;border-top:1px solid #eeefef}
.cs_exchangerate .other_excr:after{display:block;clear:both;content:''}
.cs_exchangerate .other_excr dt{float:left;margin-right:7px;padding-top:17px;font-size:15px}
.cs_exchangerate .other_excr dd{display:-webkit-box;-webkit-box-orient:horizontal}
.cs_exchangerate .other_excr dd .slc_box{display:block;max-width:100%;height:31px;margin:9px 0;padding-left:9px;border:1px solid #b1b6bc;border-color:#b8bec4 #b1b6bc #acb1b7;border-radius:3px;background:url(https://ssl.pstatic.net/sstatic/keypage/lifesrch/exchange/im/im_list.png) no-repeat 100% -34px,-webkit-gradient(linear,0 0,0 100%,from(#fff),to(#f6f6f6));background-size:16px 125px,auto auto;font-size:14px;color:#707a7e;white-space:nowrap;-webkit-box-flex:1;text-overflow:ellipsis;-webkit-appearance:none}